<div class="home-container">
 <button class="btn-volver" (click)="volver()">
    <i class="fas fa-arrow-left"></i> Volver
  </button>

  <h1>¡Reservá ahora!</h1>
  <p>Seleccioná tu tipo de cancha preferida</p>

  <div class="filters-container">
    <button class="filter-btn" (click)="filtrarCanchas('futbol 7')">
      Fútbol 7
    </button>
    
    <button class="filter-btn" (click)="filtrarCanchas('futbol 5')">
      Fútbol 5
    </button>
    
    <button class="filter-btn" (click)="mostrarTodas()">
      Todas las canchas disponibles
    </button>
  </div>

  <div class="canchas-wrapper">
    <app-canchas [canchas]="lista_canchas"></app-canchas>
  </div>

  <div class="alert-mercadopago" role="alert">
    <i class="fas fa-info-circle"></i>
    <span>
      <strong>ATENCIÓN:</strong> Una vez confirmada la reserva, serás redirigido para abonar una seña del 50% a través de <strong>Mercado Pago</strong>.
    </span>
  </div>

</div>